.hero {
  color: #fff;
  object-fit: cover;
  min-height: 32rem;
  background-size: auto;
  margin-bottom: 20px;
  position: relative;
  height: 100%;
}

.hero_contents {
  margin-left: 1.875rem;
  padding-top: 8.75rem;
  height: 11.875rem;
}

.hero_title {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 6px;
}

.hero__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 2.3rem;
  font-size: 1rem;
  max-width: 22.5rem;
  height: 5rem;
  font-weight: 300;
}

.hero__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  border-radius: 0.2vw;
  font-weight: 300;
  background-color: rgba(51, 51, 51, 0.5);
  transition: 0.2s;
}

.hero__button:hover {
  color: #000;
  background-color: #e6e6e6;
}

.hero--fadeBottom {
  position: absolute;
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  bottom: 0;
  width: 100%;
}

@media (max-width: 900px) {
  .hero_contents {
    padding-top: 4rem;
  }
}
